<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
$( function() {
  $( "#datepicker" ).datepicker();
  $( "#anim" ).on( "change", function() {
    $( "#datepicker" ).datepicker( "option", "showAnim", $( this ).val() );
  });
} );
</script>

<div class="col-sm-2 picture-box">
  <img class="big-pic" src= <%= current_user.image %> height="250" width="250"/>
</div>
<p class="col-sm-offset-3">Date: <input type="text" id="datepicker" size="30"></p>
<div class="jumbotron col-sm-8 col-sm-offset-1">
   <a class="lesson-link"><h2 class="lesson-title"></h2></a>
    <p class="lesson-body"></p>
      <div class="col-sm-offset-10 assignees"></div>
  <div style="display:none" id="form">
    <%= render partial: 'lesson'%>
  </div>
</div>
<table class="tab" style="width100%">
  <tr>
    <th class="weekday" style="height: 30px" id="0">● Monday</th>
    <th class="weekday" id="1">● Tuesday</th>
    <th class="weekday" id="2">● Wednesday</th>
    <th class="weekday" id="3">● Thursday</th>
    <th class="weekday" id="4">● Friday</th>
  </tr>
  <tr>
  <% @lessons.current_week_lessons.each do |days_lesson| %>
    <td class="hour" style="height: 200px">5 p.m.
      <% if days_lesson[1] && @lessons.user_volunteered(days_lesson[1]) %>
        <button class='remove'>Can't go</button>
      <% else days_lesson[1] %>
        <button class='count_me'>Count me in! <span class="glyphicon glyphicon-plus-sign"></span></button>
      <% end %>
      <p>
        <% if days_lesson[1] %>
          <button type="button" class="day_<%= days_lesson[0] %>_5 btn btn-lesson btn-sm view-lesson" data-id="<%= days_lesson[1].last.id %>">View Lesson</button>
        <% else  %>
          <button type="button" class="day_<%= days_lesson[0] %>_5 btn btn-lesson btn-sm lesson">Add Lesson</button>
          <button type="button" class="day_<%= days_lesson[0] %>_5 btn btn-lesson btn-sm view-lesson" style="display:none">View Lesson</button>
        <% end %>
      </p>
    </td>
  <% end %>
  </tr>
  <tr>
    <td class="hour" id="monday_6" style="height: 200px">6 p.m.
      <%= link_to '/add_assignees', class: 'count_me' do %>
        Count me in! <span class="glyphicon glyphicon-plus-sign"></span>
      <% end %>
    </td>
    <td class="hour" id="tuesday_6">6 p.m.
      <%= link_to '/add_assignees', class: 'count_me' do %>
        Count me in! <span class="glyphicon glyphicon-plus-sign"></span>
      <% end %>
    </td>
    <td class="hour" id="wednesday_6">6 p.m.
      <%= link_to '/add_assignees', class: 'count_me' do %>
        Count me in! <span class="glyphicon glyphicon-plus-sign"></span>
      <% end %>
    </td>
    <td class="hour" id="thursday_6">6 p.m.
      <%= link_to '/add_assignees', class: 'count_me' do %>
        Count me in! <span class="glyphicon glyphicon-plus-sign"></span>
      <% end %>
    </td>
    <td class="hour" id="friday_6">6 p.m.
      <%= link_to '/add_assignees', class: 'count_me' do %>
        Count me in! <span class="glyphicon glyphicon-plus-sign"></span>
      <% end %>
    </td>
  </tr>
</table>
